@import '@/css/variables.scss';

@for $i from 1 through 9 {
  .bg_blue-#{$i}00 {
    background-color: nth($list: $blue-shades, $n: $i);
  }
}

@for $i from 3 through 6 {
  .control-bg_blue-#{$i}00 {
    background: nth($list: $blue-shades, $n: $i);
    &:hover {
      background-color: nth($list: $blue-shades, $n: $i + 1);
      transition: background-color 0.3s;
    }
    &:not(:hover) {
      background-color: nth($list: $blue-shades, $n: $i);
      transition: background-color 0.3s;
    }
  }

  .pressed-control-bg_blue-#{$i}00 {
    background-color: nth($list: $blue-shades, $n: $i - 2) !important;
    transition: none !important;
  }
}

@for $i from 2 to 6 {
  .border-dark_blue-#{$i + 1}00 {
    border-color: nth($list: $blue-shades, $n: $i) !important;
  }
}
