$blue-dark: #1a2c3e;
$blue-semidark: #233547;
$blue-normal: #2c3e50;
$blue-bright: #3b4d5f;
$blue-light: #4d5f71;
$blue-lighter: #61778e;
$blue-extralight: #c4ddef;

$gray-extradark: #212529;
$gray-dark: #3d4145;
$gray-normal: #939396;
$gray-bright: #a6a6aa;
$gray-lighter: #dcdce1;
$gray-light: #e6e6eb;
$gray-extralight: #f5f5fa;

$button-primary: #2c3e50;
$button-primary-hover: #3b4d5f;

$button-secondary: #3d4145;
$button-secondary-hover: #4b5055;

$red-bright: #e74c3c;
