$blue-dark: #1a2c3e;
$blue-semidark: #233547;
$blue-normal: #2c3e50;
$blue-bright: #3b4d5f;
$blue-light: #4d5f71;
$blue-extralight: #c4ddef;

$gray-extradark: #212529;
$gray-dark: #3d4145;
$gray-light: #e6e6eb;
$gray-extralight: #f5f5fa;

$red-bright: #e74c3c;
