@import '@/css/variables.scss';

.color-editor {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: max-content 1px 1fr;

  &__nav {
    padding: 16px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      height: 0px;
    }
  }

  &__palette {
    display: grid;
    grid-template-rows: max-content 1fr;
    height: 100%;
  }

  &__palette-gap {
    height: 16px;
  }

  &__palettes {
    margin: 0 16px 0px;
    overflow: scroll;
    height: calc(100vh - 117px);
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }

  &__separator {
    width: 1px;
    height: calc(100% - 32px);
    margin: 16px 0;
    background: $blue-800;
  }

  &__picked-title {
    margin: 16px;
    font-size: 12px;
    font-weight: 500;
    color: white;
  }
}
