<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>$$presentationName</title>
  </head>
  <body>
    <div style="position: fixed; transform: scale(0)" data-res-col>
      <img
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkCAIAAAD/gAIDAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAG2SURBVHhe7dxBLkNRFIDhYgPmGNgMy7IMs65BYgXEAowMzSRCq01FWsSrRs5Y3j865yT/N+kx/XPf7XVL92bHZxONsx+vGsFYgLEAYwHGAowFGAswFmAswFiAsQBjAcYCjAUYCzAWYCzAWICxAGMBxgKMBRgLMBZgLMBYgLGAzL91OLydHpwexQ//mp+cx5TKlQVkxhqeXmJqIjPWdr2JqYkGj+F2/RlTtgaxhudZTNnc4IHMWN939zE14coCOmzwi1VM2Tps8PNlTNkyYw2vi5iayIz1dX0TUxNu8ECDWD8PjzFl67DBv/lu+KfOsWCM5FjD8j2mDtzggQaxNtOrmLK5soDsPavVzXJyrF43y9Ufwzp3yjvVY9W5U95xgweSY/W6WXZlAeX3rEpni+qxSp0tkmP1ullOjtXrZtkNHqgeq9TZwpUF5MdqdLOcH6vRzXL1x7DU2aJ6rFJnC7/GDvDdEEheWWP+b+Dj4rLIBzyuLMBYgLEAYwHGAowFGAswFmAswN8NAVcWYCzAWICxAGMBxgKMBRgLMBZgLMBYgLEAYwHGAowFGAswFmAswFiAsUabTH4BUFBdjhbW5GIAAAAASUVORK5CYII="
        alt="error"
        data-placeholder-img
      />
      <div data-res-main>$$presentationJSON</div>
      $$resources
    </div>
    <div id="app"></div>
    $$script
  </body>
</html>
