@import '@/css/variables.scss';

.upper-panel {
  height: 40px;
  width: 100%;
  background: $blue-300;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__workspace-selector {
    padding: 0 16px;
    display: inline-flex;
    align-items: center;
    height: inherit;
  }

  &__buttons {
    display: inline-flex;
  }

  &__button {
    margin: 0 8px;
  }
}

.workspace-selector {
  &__sub {
    font-weight: 500;
    color: white;
    user-select: none;
  }
  &__option {
    margin-left: 6px;
    color: rgba($color: white, $alpha: 0.8);
    border-bottom: 1px dashed rgba($color: white, $alpha: 0.8);
    cursor: pointer;
    &_selected {
      color: white !important;
      border-bottom: none;
      user-select: none;
      cursor: initial;
    }
  }
}
