@import '@/css/variables.scss';

.preview-panel {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 200px;
  background: $blue-400;

  &::-webkit-scrollbar {
    width: 0;
  }

  &__slide-wrap {
    margin: 16px 16px 0 0;
    display: grid;
    grid-template-columns: 4px 1fr max-content;
  }

  &__slide {
    width: 166px;
    height: 93px;
    border: 1px solid white;
    border-radius: 4px;
    overflow: hidden;
    grid-column: 3;

    &_animated:hover &-delete {
      animation: preview-panel-appear 0.15s;
      opacity: 1;
      display: flex;
    }

    &_animated:not(:hover) &-delete {
      animation: preview-panel-disappear 0.15s;
    }

    &_selected {
      box-shadow: -5px 0px 0px 0px black;
    }
  }

  &__selection-mark {
    height: 100%;
    width: 4px;
    background: white;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
  }

  &__buttons {
    margin: 16px;
  }

  &__slide-delete {
    width: 20px;
    height: 20px;
    float: right;
    display: flex;
    margin-bottom: -100%;
    opacity: 0;
    justify-content: space-around;
    align-items: center;
    user-select: none;

    img {
      filter: drop-shadow(-1px 0px 0px $blue-300) drop-shadow(1px 0px 0px $blue-300) drop-shadow(0px -1px 0px $blue-300)
        drop-shadow(0px 1px 0px $blue-300);
    }
  }
}

@keyframes preview-panel-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes preview-panel-disappear {
  0% {
    opacity: 1;
    display: flex;
  }
  99% {
    opacity: 0;
    display: flex;
  }
  100% {
    display: none;
  }
}
