@import '@/css/variables.scss';

.tabs {
  height: 30px;
  display: inline-flex;
  max-width: calc(100vw - 135px - 30px - 40px);
}

.tab {
  color: white;
  background: $blue-200;
  border-right: 1px solid $blue-200;
  font-weight: 400;
  line-height: 30px;
  padding: 0 16px;
  overflow: hidden;
  text-align: center;
  width: 200px;
  max-width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  user-select: none;

  &_selected {
    font-weight: 500;
    background: $blue-300;
    z-index: 2;

    &::before {
      content: '';
      width: 4px;
      height: 30px;
      background-image: '@/assets/logo.png';
    }
  }
  &_border-right {
    //padding-left: 15px !important;
    border-right: 1px solid $blue-500;
  }

  &_dragging {
    //position: absolute;
  }
}
