@import '@/css/variables.scss';

.preset-card {
  padding: 16px;
  padding-bottom: 10px;
  margin: 16px;
  border-radius: 4px;

  &:first-child {
    margin-top: 0;
  }

  &__upper {
    display: grid;
    grid-template-columns: 1fr max-content max-content;
    margin-bottom: 9px;
    width: 100%;
  }

  &__inscription {
    opacity: 0;
    text-align: right;
    color: $blue-800;
    line-height: 24px;
  }

  &__delete-button {
    margin-left: 16px;
  }

  &:hover &__inscription,
  &:hover &__delete-button {
    opacity: 1;
    transition: opacity 0.15s;
  }

  &:not(:hover) &__inscription,
  &:not(:hover) &__delete-button {
    opacity: 0;
    transition: opacity 0.15s;
  }

  &__name {
    font-weight: 500;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
    color: white;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      outline: none;
      text-decoration: underline;
    }
  }

  &__input {
    margin-top: 2px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;

    box-sizing: border-box;
    width: calc(50% - 16px);

    &:nth-child(even) {
      margin-right: 16px;
    }
    &:nth-child(odd) {
      margin-left: 16px;
    }
  }

  &__loader {
    width: 50%;
    line-height: 200%;
    border-radius: 4px;
    background-color: $blue-600;
    animation: preset-card-pulse 1s infinite;
  }
}

@keyframes preset-card-pulse {
  from {
    background: $blue-600;
  }
  50% {
    background: $blue-700;
  }
  to {
    background: $blue-600;
  }
}

@media (max-width: 1000px) {
  .preset-card__inscription {
    width: 0;
    opacity: 0 !important;
  }
}
