@import '@/css/variables.scss';

.preset-list {
  height: inherit;

  &__upper {
    display: grid;
    margin: 16px;
    grid-template-columns: max-content 1fr;
  }
  &__title {
    font-weight: 500;
    color: white;
    line-height: 24px;
  }
  &__buttons {
    display: flex;
    justify-content: flex-end;
  }
  &__button {
    margin-left: 16px;
  }

  &__placeholder {
    color: $blue-800;
    margin-top: 24px;
    margin-left: 16px;
  }

  &__items {
    height: calc(100% - 56px);
    overflow: scroll;
    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
}
