@import '@/css/variables.scss';

.text-presets-editor {
  width: 100%;
  height: calc(100vh - 70px);
  display: grid;
  grid-template-columns: 2fr 1px 1fr;

  &__separator {
    height: calc(100% - 32px);
    background: $blue-800;
    margin: 16px 0;
  }
}

@media (min-width: 1200px) and (max-width: 1599px) {
  .text-presets-editor {
    grid-template-columns: 1fr 1px 1fr;
  }
}

@media (max-width: 1199px) {
  .text-presets-editor {
    grid-template-columns: 4fr 1px 3fr;
  }
}
