@import '@/css/variables.scss';

.text-presets-editor {
  width: 100%;
  height: calc(100vh - 70px);
  display: grid;
  grid-template-columns: 2fr 1px 1fr;

  &__font-list {
    display: grid;
    grid-template-rows: max-content 1fr;

    &-searchbox {
      padding: 16px;
    }

    &-items {
      height: calc(100vh - 70px - 56px);
      overflow: scroll;

      &::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
    }
  }

  &__separator {
    height: calc(100% - 32px);
    background: $blue-800;
    margin: 16px 0;
  }
}
